/* GLOBAL */
body {
  margin: 0;
  background: #f8f7f5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: black;
  line-height: 1.4;
}

/* WRAPPER: 가로 3열 */
#wrapper {
  margin: 27px;
  display: grid;
  grid-template-columns: 260px 1fr 160px;
  column-gap: 40px;
}

/* LEFT */
#left-column {
  display: flex;
  flex-direction: column;
}

.left-bottom {
  margin-top: 4em; /* 왼쪽 하단 */
  line-height: 1.6;
}

/* CENTER */
#center-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.level1 {
  padding-left: 20px;
}

.center-bottom img {
  width: 100%;
  height: auto;
  display: block;
}

/* RIGHT */
#right-column {
  text-align: left;
}

/* RESET */
#wrapper * {
  margin: 0;
  padding: 0;
}
