* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
  color: black;
}

body {
  padding: 40px;
}

#wrapper {
  display: flex;
  gap: 80px;
}

/* LEFT */
#left-panel {
  width: 260px;
}

.name {
  font-size: 18px;
}

.role,
.email {
  font-size: 14px;
  margin-top: 4px;
}

/* RIGHT */
#right-panel {
  flex: 1;
}

.section-title {
  margin-bottom: 20px;
}

.work-item div {
  margin-bottom: 6px;
}

/* INDENTATION */
.level1 {
  margin-left: 20px;
}

.level2 {
  margin-left: 40px;
}

/* CLICK */
.clickable {
  cursor: pointer;
  width: fit-content;
}

.clickable:hover {
  font-style: italic;
  text-decoration: underline;
}
